body{
    background-color: black;
    padding-top: 300px;
}
#clock {
    width: 420px;
    background-color: #ff0023c4;
    font-size: 100px;
    margin: 0 auto;
    text-align: center;
    border: 10px solid #fff;
}

#normalDiv{
    padding: 100px;
    text-align: center;
}
#equal{
    margin: 0 auto;
}
#input1, #input2{
    width: 200px;
    height: 30px;
    font-size: 25px;
}
#form button{
    width: 40px;
    height: 40px;
    border-radius: 20%;
}
button:hover{
background-color: yellow;
font-size: 20px;
}
#input2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#equal{
    margin-top: 10px;
    background-color: #fdfdfd52;
    font-size: 60px;
    
}